body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #0a0f1e;
    color: white;
    text-align: center;
  }

 
  
  .shoes {
  display: flex;
  justify-content: center; /* Mengatur gambar agar berada di tengah */
  align-items: center;
  flex-wrap: wrap; /* Memastikan gambar yang tidak muat dalam satu baris akan dipindahkan ke baris baru */
  margin: 10px 40px; /* Menambahkan margin sekitar gambar */
  gap: 40px; /* Menambahkan jarak antar gambar */
}

.shoes img {
  max-width: 100%; /* Agar gambar tidak melebihi ukuran kontainernya */
  height: auto; /* Menjaga rasio gambar */
  border-radius: 10px; /* Opsional, untuk membuat sudut gambar melengkung */
}

    
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0a0f1e;

  }
  
  .navbar a {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 16px;
    font-weight: 600;
    font-style: Arial;
  }
  .navbar a:hover{
    color: aqua;
  }
  
  .navbar .logo {
    display: flex;
    align-items: center;
  }
  
  .navbar .logo img {
    width: 30px;
    margin-right: 10px;
  }
  
  .navbar .buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #3a3f51;
  }
  
  .navbar .buttons a.apply {
    background-color: #3a3f51;
  }
  
  .hero {
    padding: 20px 20px;
  }
  
  .hero h1 {
    font-size: 100px;
    margin-bottom: 20px;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 40px;
   
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
    
    
   }
  
  .hero .apply-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
  
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
    
    
  }
  .hero .apply-button:hover{
    color: aqua;
  }
  
  .features {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 200px;
  }
  
  .features div {
    margin: 0 20px;
    text-align: center;
  }
  
  .features div i {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
  }
  
  footer .socials {
    padding: 1rem 0;
  }
  
  footer .socials a {
    color: #fff;
    margin: 1rem;
  }
  
  footer .socials a:hover,
  footer .links a:hover {
    color: var(--bg);
  }
  footer .links {
    margin-bottom: 1.4rem;
  }
  footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
  }
  
  footer .credit {
    font-size: 0.8rem;
  }
  
  footer .credit a {
    color: var(--bg);
    font-weight: 700;
  }
  
